.main-contents , .search-sidebar {
    background-color: #fafafa;
}

.navbar {
    background-color: white;
}

.preview-nav {
    margin-top:-3px;
    color: white;
}

.preview-title {    
    font-weight: 600;
    font-size: 20px;
}

.story-container {
    overflow-y: auto;
    overflow-x: hidden;
    height:calc(100vh - 60px);    
    padding:10px;
    z-index: 9999;
}

.container-fluid {

}

.story-title {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgb(160, 160, 160);
}

.story-card {
    background-color: #f8f9fa;
}

.user-avatar {
    margin-left: 20px;
    border-radius: 50%;
    float: left;
}

.user-profile {
    vertical-align: top;
    margin-top: 10px;
}

.user-name {
    vertical-align: top;
    padding-left: 15px;
    float: left;
    font-weight: 600;
}

.user-info {
    padding-top: 7px;
}

.user-description {
    font-size: 12px;
    font-weight: 400;
    width: 16rem;
    margin-left: 20px;
    margin-top:5px;
    margin-bottom:10px;
}

.user-fullname {
    font-size: 12px;
    font-weight: 600;
    width: 16rem;
    margin-left: 20px;
    margin-top:40px;
}

.user-followers {
    font-size: 15px;
    vertical-align: top;
    padding-left: 10px;
    display:block;
    float:left;
    width:80px; 
    height:20px; 
    text-align: center;
    font-weight: 600;
}

.user-following {
    font-size: 15px;
    vertical-align: top;
    padding-left: 10px;
    display:block;
    float:left;
    width:80px; 
    height:20px; 
    text-align: center;
    font-weight: 600;
}

.user-followers-small {
    font-size: 12px;
    color: grey;
    vertical-align: top;
    padding-left: 10px;
    display:block;
    float:left;
    width:80px; 
    height:20px; 
    text-align: center;
    font-weight: 400;
}

.user-following-small {
    font-size: 12px;
    color: grey;
    vertical-align: top;
    padding-left: 10px;
    display:block;
    float:left;
    width:80px; 
    height:20px; 
    text-align: center;
    font-weight: 400;
}

.img-grid {
    width: 100%;
    padding-bottom: 100%;
    height:0;
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
}

.img-grid-box {
    padding-left:2px;
    padding-right: 1px;
    padding-top:2px;
    padding-bottom: 1px;
    position: relative;

}

.img-story-box {
    padding:10px;
    position: relative;

}

.img-story {
    width: 100%;
    padding-bottom: 100%;
    height:0;
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
    box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.6);    

}

.img-grid:hover {
    opacity:75%;
}

.grid-container {
    padding:3px;
    width:50%;
    float:right;
    overflow-y: auto;
    overflow-x: hidden;
    height:calc(100vh - 60px);

}

.grid-srow-drag {
    position: relative;

}

/*hide scrollbars*/
.grid-container::-webkit-scrollbar {
    display: none;
  }
.story-container::-webkit-scrollbar {
    display: none;
}
  
  
  /* Hide scrollbar for IE, Edge and Firefox */
.grid-container .story-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#wrapper {
    overflow: hidden;

}
  
#sidebar-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #f5f5f5;
    min-height: 100vh;
    margin-left: -18rem;
  /*-webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;*/
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 2.1rem;
  font-family: 'Kaushan Script', cursive;
}
  
#sidebar-wrapper .list-group {
  width: 18rem;
}
  
#page-content-wrapper {
  min-width: 100vw;
  margin-left:0rem;
  margin-top:0rem;
  max-height: 100vh;
}
  
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

  
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
}
  
#page-content-wrapper {
    min-width: 0;
    width: 100%;
    margin-left:18rem;
}
  
#wrapper.toggled #sidebar-wrapper {
    margin-left: -18rem;
}


}

@media (max-width: 768px) {
.grid-container {
    width:100%;
}
}
  